* {
  box-sizing: border-box;
}

/* Style the body */
body {
  margin: 0;
}
html {
  font-family: 'Slabo 27px', serif;
}
/* Header/logo Title */
.main-header {
  padding: 15px;
  text-align: center;
  background: #008000;
  color: #00ace6;
  font-family: 'Heebo', sans-serif;
}
.ponder-press {
  font-size: 6rem;
}

/* Style the top navigation bar */
.top-navigation {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.top-navigation a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.top-navigation a:hover {
  background-color: #ddd;
  color: black;
}
h4:hover {
  border: 3px dotted orange;
}
h4 {
  transition: border 4s ease-in 1s;
}
.main-content-images {
  width: 100%;
}
/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.sidebar-style {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main-copy {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
.main-copy p::first-letter {
  font-size: 200%;
}
 ul li:nth-child(odd) {
  color: #00ace6;
}
.endeavors-photos {
  display: flex;
}
.endeavors-photos > div {
margin: 10px;
padding: 20px;
font-size: 20px;
}
.yeti {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.social-media-style {
  padding: 20px;
  text-align: center;
  background: #ddd;
}.fa-instagram {
  font-weight: bold;
  font-size: 2rem;
}
.fa-facebook {
  font-weight: bold;
  font-size: 2rem;
}
.fa-twitter {
  font-weight: bold;
  font-size: 2rem;
}
.fa-etsy {
  font-weight: bold;
  font-size: 2rem;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}
fieldset {
  border:none;
  padding: 15px;
}
fieldset input {
  display: inline;
}
.message-font {
  font-size: 30px;
}
input[type=submit] {
  width: 30%;
  background-color: #ff6600;
}
.submit-font {
  font-size: 20px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #008000;
}
